/* You can add global styles to this file, and also import other style files */

.danger {
	color: red;
}

.menu {
  height:600px;
  overflow-y: scroll;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}